jupyter==1.0.0
multipledispatch==0.6.0
mypy-extensions==0.4.3
networkx==2.3
oauthlib==3.1.1
pandas==1.2.4
pathspec==0.7.0
pep8==1.7.1
pkginfo==1.7.0
plotly==5.3.1
ply==3.11
pynndescent==0.5.5
pytest==6.2.3
scikit-learn==1.0
Shapely==1.8.0
sklearn==0.0
wordcloud==1.8.1
seaborn==0.11.1
